{% extends "base.html" %}
{% load static %}
{% load icons %}
{% load project_extras %}
{% load home_extras %}

{% block title %}Account{% endblock %}
<
{% block content %}
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">{{user.first_name}} {{user.last_name}} <img class="ml-1 honey" src="{% static 'img/honeybee.png' %}" alt="Image of a honeybee."/></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">Email: {{ user.email }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">Company: {{ user.profile.company }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">Phone: {{ user.profile.phone_number }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">Address: {{ user.profile.street_address }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">City: {{ user.profile.city }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">State: {{ user.profile.state }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">Postal code: {{ user.profile.postal_code }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="col-md mb-3 ml-3 mr-3 mt-3">Country: {{ user.profile.country }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <a class="btn btn-primary" role="button" href="{% url 'edit_user_profile' user_id=user.pk %}">Edit Profile</a>
    </div>
  </div>

{% endblock %}