{% extends "base.html" %}
{% load static %}
{% load icons %}
{% load project_extras %}
{% load home_extras %}

{% block title %}Account{% endblock %}
{% block content %}
<div class="row">
  <!-- Left column's box contains user's full name -->
  <div class="col">
    <h5 class="mt-5">{{user.first_name}} {{user.last_name}} <img class="ml-1 honey" src="{% static 'img/honeybee.png' %}" alt="Image of a honeybee."/></h5>
  </div>
  <!-- Right column's box contains the "Edit Profile" button -->
  <div class="col pt-5">
    <a class="btn btn-primary mr-auto" role="button" href="{% url 'edit_user_profile' user_id=user.pk %}">Edit Profile</a>
  </div>
</div>

<!-- Set a div box of height = 100% for the user profile-->
<div class="h-100">
  <div class="row mt-1">
    <h5 class="ml-3 font-weight-bold">Username:</h5>
    <h5 class="ml-2"> {{ user.username }} </h5>
  </div>
  <div class="row mt-1">
    {% if display_email %}
      <h5 class="ml-3 font-weight-bold">Email:</h5>
      <h5 class="ml-2"> {{ user.email }} </h5>
    {% endif %}
  </div>
  <div class="row mt-1">
    {% if display_company %}
      <h5 class="font-weight-bold ml-3">Company:</h5>
      <h5 class="ml-2"> {{ user.profile.company }} </h5>
    {% endif %}
  </div>
  <div class="row mt-1">
    {% if display_phone %}
      <h5 class="font-weight-bold ml-3">Phone:</h5>
      <h5 class="ml-2"> {{ user.profile.phone_number }} </h5>
    {% endif %}
  </div>
  <div class="row mt-1">
    {% if display_street %}
      <h5 class="font-weight-bold ml-3">Address:</h5>
      <h5 class="ml-2"> {{ user.profile.street_address }} </h5>
    {% endif %}
  </div>
  <div class="row mt-1">
    {% if display_city %}
      <h5 class="font-weight-bold ml-3">City:</h5>
      <h5 class="ml-2"> {{ user.profile.city }} </h5>
    {% endif %}
  </div>
  <div class="row mt-1">
    {% if display_state %}
      <h5 class="font-weight-bold ml-3">State:</h5>
      <h5 class="ml-2"> {{ user.profile.state }} </h5>
    {% endif %}
  </div>
  <div class="row mt-1">
    {% if display_postal %}
      <h5 class="font-weight-bold ml-3">Postal code:</h5>
      <h5 class="ml-2"> {{ user.profile.postal_code }} </h5>
    {% endif %}
  </div>
  <section id="reviews" class="pb-3">
    <div class="row mt-1">
      <h5 class="ml-3 font-weight-bold">Reviews:</h5>
    </div>
    {% if reviews.count > 0 %}
    {% for review in reviews %}
    <div class="card mt-1 mb-3">
      <div class="card-body">
        <h5 class="card-title">{{review.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Project: {{ review.project }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Author: <a href="{% url 'view_user_profile' review.author%}">{{review.author}}</a></h6>
        <h6 class="card-subtitle mb-2 text-muted">Date: {{ review.date }}</h6>
        <p class="card-text">{{ review.body }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div>
      <p>No reviews found.</p>
    </div>
    {% endif %}
  </section>
</div>
{% endblock %}