{% extends "base.html" %}
{% load static %}
{% load icons %}
{% load project_extras %}
{% load home_extras %}

{% block title %}Account{% endblock %}
{% block content %}
<div class="row">
  <!-- Left column's box contains user's full name -->
  <div class="col">
    <h5 class="mt-5">{{user.first_name}} {{user.last_name}} <img class="ml-1 honey" src="{% static 'img/honeybee.png' %}" alt="Image of a honeybee."/></h5>
  </div>
  <!-- Right column's box contains the "Edit Profile" button -->
  <div class="col pt-5">
    <a class="btn btn-primary mr-auto" role="button" href="{% url 'edit_user_profile' user_id=user.pk %}">Edit Profile</a>
  </div>
</div>

<!-- Set a div box of height = 100% for the user profile-->
<div class="h-100">
  <h5>Profile information</h5>
  <table class="table">
    <tr>
      <th>Username:</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Company:</th>
      <td>{{ user.profile.company }}</td>
    </tr>
    <tr>
      <th>Phone:</th>
      <td>{{ user.profile.phone }}</td>
    </tr>
    <tr>
      <th>Address:</th>
      <td>{{ user.profile.street_address }}</td>
    </tr>
    <tr>
      <th>City:</th>
      <td>{{ user.profile.city }}</td>
    </tr>
    <tr>
      <th>State:</th>
      <td>{{ user.profile.state }}</td>
    </tr>
    <tr>
      <th>Postal Code:</th>
      <td>{{ user.profile.postal_code }}</td>
    </tr>
    <tr>
      <th>Country:</th>
      <td>{{ user.profile.country }}</td>
    </tr>
  </table>
</div>

<!-- Review box(es) goes under the user profile-->

{% endblock %}