{% extends "base.html" %}
{% load static %}
{% load icons %}
{% load project_extras %}
{% load home_extras %}

{% block title %}{{ user_username }}{% endblock %}
<
{% block content %}
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">User: {{ user_username }} </h2>
      <h2 class="mt-5">Name: {{user_first_name}} {{user_last_name}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">Email: {{ user_email }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">Company: {{ user_company }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">Phone: {{ user_phone }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">Address: {{ user_address }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">City: {{ user_city }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">State: {{ user_state }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">Postal Code: {{ user_postal_code }} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg text-center">
      <h2 class="mt-5">Country: {{ user_country }} </h2>
    </div>
  </div>
{% endblock %}