{% extends "base.html" %}
{% load static %}
{% load icons %}
{% load project_extras %}
{% load home_extras %}

{% block title %}{{ user_username }}{% endblock %}
{% block content %}

<div class="row">
<div class="col">
  <h5 class="mt-5">{{ user_username }}'s profile <img class="ml-1 honey" src="{% static 'img/honeybee.png' %}" alt="Image of a honeybee."/></h5>
</div>
</div>

<div class="h-100">
  <h5>Profile information</h5>
  <table class="table">
    {% if user_first_name or user_last_name and display_full_name  %}
    <tr>
      <th>Full Name:</th>
      <td>{{user_first_name}} {{user_last_name}}</td>
    </tr>
    {% endif %}
    {% if display_email %}
    <tr>
      <th>Email:</th>
      <td>{{ user_email }}</td>
    </tr>
    {% endif %}
    {% if display_comapny and user_company %}
    <tr>
      <th>Company:</th>
      <td>{{ user_company }}</td>
    </tr>
    {% endif %}
    {% if display_phone and user_phone %}
    <tr>
      <th>Phone:</th>
      <td>{{ user_phone }}</td>
    </tr>
    {% endif %}
    {% if display_street and user_address %}
    <tr>
      <th>Address:</th>
      <td>{{ user_address }}</td>
    </tr>
    {% endif %}
    {% if display_city and user_city %}
    <tr>
      <th>City:</th>
      <td>{{ user_city }}</td>
    </tr>
    {% endif %}
    {% if display_state and user_state %}
    <tr>
      <th>State:</th>
      <td>{{ user_state }}</td>
    </tr>
    {% endif %}
    {% if display_postal and user_postal_code %}
    <tr>
      <th>Postal Code:</th>
      <td>{{ user_postal_code }}</td>
    </tr>
    {% endif %}
    {% if display_country and user_country %}
    <tr>
      <th>Country:</th>
      <td>{{ user_country }}</td>
    </tr>
    {% endif %}
  </table>
  <div class="row mt-1">
    <h5 class="ml-3 font-weight-bold">Reviews:</h5>
  </div>
  <div>
    {% for review in reviews %}
    
    <p>Project: {{ review.project }}</p>
    <p>author:  <a href="{% url 'view_user_profile' review.author%}">{{review.author}}</a></p>
    <h5>{{review.title}}</h5>
    <p>{{ review.body }}</p>
    <p>{{ review.date }}</p>
    
    <br>
    <br>
    {% endfor %}
    
  </div>
</div>

{% endblock %}